body{
display: flex;
justify-content: space-between;
align-items: center;
background-image: url(03.jpg); width: 700px;



}
form{
    border:4mm ridge rgba(50, 220, 58, 0.6);
    height: 800px;
    width: 800px;
    }
   
.mule{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
@media all and (max-width : 760px) 
   
{
    {
        display: flex;
    }
}
